<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">
  <title>{{ page.title }}</title>
  <style>
    body { font-family: sans-serif; line-height: 1.6; padding: 20px; max-width: 800px; margin: auto; }
  </style>
</head>
<body>
  {{ page.sheader }}
  {{ content }}

<div style="display: flex; gap: 12px; justify-content: center; margin-top: 40px;">

  <a href="{{ site.social.github }}" target="_blank" rel="noopener noreferrer">
    <img src="https://img.shields.io/badge/GitHub-181717?style=for-the-badge&logo=github&logoColor=white" alt="GitHub">
  </a>

  <a href="{{ site.social.x }}" target="_blank" rel="noopener noreferrer">
    <img src="https://img.shields.io/badge/X-000000?style=for-the-badge&logo=x&logoColor=white" alt="X">
  </a>

</div>
<hr />
<p style=" text-align: center;">{{ site.copyright }}</p>
</body>
</html>
